<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>School/College Management system</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>     
        <link rel="stylesheet" href="css/admin.css">
    </head>
<body>
    <%- include('../includes/cp_header.ejs') %>

<%- include('../includes/admin_sidebar.ejs') %>

<div class="content" id="content-container">
    
    <div class="dashboard_container">

        <div class="card_contain" style="background-color: #158865;">
            <i class="fas fa-user fa-2x"></i> 
            <a href="student_management" style="text-decoration: none;"><h5>Student Management</h5></a>
            <p>Total Students: 1005</p>
        </div>
        <div class="card_contain" style="background-color: #156588;">
            <i class="fas fa-chalkboard-teacher fa-2x"></i>
           <a href="teacher_management" style="text-decoration: none;"><h5>Teacher/Staff Management</h5></a>
            <p>Total Teacher and Staff: 55</p>
        </div>
        <div class="card_contain" style="background-color: #d65465;">
            <i class="fas fa-graduation-cap fa-2x"></i>
            <h5>Students Account</h5>
            <p>Total Students: 1005</p>
        </div>
        <div class="card_contain" style="background-color: #d68136" >
            <i class="fas fa-poll fa-2x"></i>
            <h5>Result Management</h5>
            <p>Total Students: 1005</p>
        </div>
        <div class="card_contain" style="background-color: #8454eb;">
            <i class="fas fa-money-check-alt fa-2x"></i>
            <h5>Accounts Management</h5>
            <p>Total Students: 1005</p>
        </div>
        <div class="card_contain" style="background-color: #66b10b;">
            <i class="fas fa-book fa-2x"></i>
            <h5 ><a href="library_management" class="sidebar-link"style="color:white;text-decoration:none;">Library Management</a></h5>
            <p>Total Students: 1005</p>
        </div>
        <div class="card_contain" style="background-color: #b360a6" >
            <i class="fas fa-wrench fa-2x"></i>
            <h5>Website Maintenance</h5>
            <p>Total Students: 1005</p>
        </div>
        <div class="card_contain fa-2x" style="background-color: #19aff0;">
            <i class="fas fa-users"></i> 
            <h5>User Management</h5>
            <p>Total Students: 1005</p>
        </div>
        <div class="card_contain fa-2x" style="background-color: #a11a8b;">
            <i class="fas fa-cogs"></i>
            <h5>System Settings</h5>
            <p>Total Students: 1005</p>
        </div>
        <div class="card_contain fa-2x" style="background-color: #d1b044" >
            <i class="fas fa-sms"></i> 
            <h5><a href="sms" class="sidebar-link"style="color:white;text-decoration:none;">SMS Gateway</a></h5>
            <p>Total Students: 1005</p>
        </div>
        <div class="card_contain fa-2x" style="background-color: #c53612" >
            <i class="fas fa-file-signature"></i>
            <a href="online_admission_handler" style="text-decoration: none;"><h5>Online Admission</h5></a>
            <p>Total Students: 1005</p>
        </div>
    </div>
</div>
<script src="js/admin_ham_responsive.js" defer></script>

</body>
</html>
