<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>School/College Management system</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>     
        <link rel="stylesheet" href="css/admin.css">
        <style>
            .left_header {
                    display: flex;
                    align-items: center;
            }

            .header_logo {
            max-width: 4rem; 
            height: auto;  
            margin-right: 1rem; 
            }

            #l_header {
            flex: 1; 
            }
        </style>

        <script src="js/admin.js" defer></script>
    </head>
<body>
<header class="header">
    <div class="left_header" style="display: flex;">
        <img class="header_logo" src="images/—Pngtree—school logo design template vector_9104626.png">
        <h1 id="l_header"> School Management System</h1>
    </div>
    
    <div class="logout">
        <form action="/logout" method="POST">
            <button class="btn btn-success" type="submit" id="logOutDropdown">Logout</button>
        </form>
    </div>
</header>

<%- include('../includes/admin_sidebar.ejs') %>
<div id="ham_icon"><img src="images/menu.png" alt=""></div>
<div class="content" id="content-container">
    
    <div class="admission_segments">
        <div class="segment_contain" style="background-color: #156588;">
            <i class="fas fa-chalkboard-teacher fa-2x"></i>
            <h5>Applicants</h5>
            <p>Total Applicants: 55</p>
        </div>

        <div id="toggle_exam" class="segment_contain" style="background-color: rgb(73, 63, 63);">
            <i class="fas fa-user fa-2x"></i> 
                <div class="container">
                    <form id="examForm">
                        <h5>Exam Status:</h5>
                        <input type="hidden" id="examStatus" name="examStatus" value="1">
                    </form>

                    <div class="custom-control custom-switch">
                        <input  type="checkbox" class="custom-control-input" id="customSwitch1">
                        <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
                      </div>
                
                   
                    
                </div>
            </form>
        </div>
      
        <div class="segment_contain" style="background-color: #158865;">
            <i class="fas fa-graduation-cap fa-2x"></i>
            <h5>Admission</h5>
            <p>Total Students: 1005</p>
        </div>

        <div class="segment_contain" style="background-color: #927d39" >
            <i class="fas fa-poll fa-2x"></i>
            <h5>Admission Result</h5>
            <p>Total Passed: 240</p>
        </div>

        <div class="segment_contain" style="background-color: rgb(73, 63, 63);">
            <i class="fas fa-money-check-alt fa-2x"></i>
            <h5>Admission Payment</h5>
            <p>Check the payment details who has passed the exam</p>
        </div>
    </div>
</div>
<script>
   const ham_icon = document.getElementById('ham_icon');
const side_bar = document.querySelector('.sidebar');
const content1 = document.querySelector('.content');



ham_icon.addEventListener('click', function () {
    if (side_bar.style.display === "none" || side_bar.style.display === "") {
        side_bar.style.display = "block";
        content1.style.display = "none";
    } else {
        side_bar.style.display = "none";
        content1.style.display = "block";
    }
});

    function adjustHeader() {
        const header = document.querySelector('.left_header');
        const logo = document.querySelector('.header_logo');
        const headerText = document.getElementById('l_header');
        
        headerText.style.fontSize = window.innerWidth / 30 + 'px'; 

        const maxLogoWidth = 200; 
        const logoWidth = Math.min(window.innerWidth / 4, maxLogoWidth); 
        logo.style.width = logoWidth + 'px';
        header.style.marginLeft = window.innerWidth / 30 + 'px';

        if (window.innerWidth > 600) {
    content1.style.display = "block";
}
    }
    adjustHeader();
    window.addEventListener('resize', adjustHeader);
</script>


</body>
</html>
