<div class="sidebar">
    
    <ul class="list-unstyled">
        <li><a href="admin" class="sidebar-link"><i class="fas fa-chart-bar px-3 py-2"></i> Dashboard</a></li>
        <li><a href="student_management" class="sidebar-link"><i class="fas fa-graduation-cap px-3 py-2"></i> Student Management</a></li>
        <li><a href="teacher_management" class="sidebar-link"><i class="fas fa-users px-3 py-2"></i> Teacher Management</a></li>
        <li><a href="#" class="sidebar-link"><i class="fas fa-poll px-3 py-2"></i> Result Management</a></li>
        <li><a href="#" class="sidebar-link"><i class="fas fa-user-cog px-3 py-2"></i> Account Management</a></li>
        <li><a href="library_management" class="sidebar-link"><i class="fas fa-book-open px-3 py-2"></i> Library Management</a></li>
        <li><a href="notice_control" class="sidebar-link"><i class="fas fa-money-check px-3 py-2"></i> Notice Control</a></li>
        <li><a href="#" class="sidebar-link"><i class="fas fa-wrench px-3 py-2"></i> Website Maintenance</a></li>
        <li><a href="sms" class="sidebar-link"><i class="fas fa-sms px-3 py-2"></i> SMS Gateway</a></li>
        <li><a href="online_admission_handler" class="sidebar-link"><i class="fas fa-file-signature px-3 py-2"></i> Online Admission</a></li>
        <li><a href="#" class="sidebar-link"><i class="fas fa-bus px-3 py-2"></i> Transport Management</a></li>
        <li><a href="#" class="sidebar-link"><i class="fas fa-hotel px-3 py-2"></i> Hostel Management</a></li>
    </ul>
    <div>
        
    </div>
</div>

<div id="ham_icon"><img src="images/menu.png" alt=""></div>


