<div id="chatbot-container" style="display: none;">
    <div id="chatbot_head"><img src="images/assistant.png" alt="">
        <p>Hi I am Rad. <br> How Can i help?</p>
    </div>
    <div id="chatbot_body"></div>
    <div id="chatbot_footer">
        <form id="chatbotReq" style="display: flex;">
            <input name="userInput" id="userInput" class="form-control me-2" type="text"
                style="width: 60%; height: 70%; border-radius: 30px; margin: auto;">
            <button id="chatSendButton" class="btn btn-outline-success" type="button"
                style="margin: auto;">Send</button>
        </form>
    </div>
</div>
<div id="chatbot_icon">
    <img src="images/chat.png" alt="">
</div>