<header class="header">
    <div class="left_header" style="display: flex;">
        <img class="header_logo" src="images/—Pngtree—school logo design template vector_9104626.png">
        <h1 id="l_header"> School Management System</h1>
    </div>
    
    <div class="logout">
        <form action="/logout" method="POST">
            <button class="btn btn-danger" type="submit" id="logOutDropdown">
              Logout
            </button>
          </form>
    </div>
</header>
