
    <header>
        <div id="secondary_nav">
            <p style="color: aliceblue; margin-bottom: 0;padding: 8px;">admin@pstu.ac.bd</p>
            <p style="color: aliceblue; margin-bottom: 0;">+8801747697661</p>
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="loginDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Login
                </button>
                <div class="dropdown-menu" aria-labelledby="loginDropdown">
                    <a class="dropdown-item" href="#">Teacher</a>
                    <a class="dropdown-item" href="#">Student</a>
                    <a class="dropdown-item" href="#">Admin</a>
                </div>
            </div>
        </div>
        

        <div id="Logo_Name">
            <img src="images/—Pngtree—school logo design template vector_9104626.png" alt="">
            <h1>School Management System</h1>
        </div>

        <section id="main_nav">

        <div id="main_nav_container">
            <div  class="holder">
                <p class="main_nav_buttons">Home</p>
                <ul style="margin-left: 0px;" class="nav_ul">
                    <li>Home</li>
                    <li>Home1</li>
                    <li>Home2</li>
                    <li>Home3</li>
                </ul>
            </div>
            <div class="holder">
                <p class="main_nav_buttons">Administration</p>
                <ul class="nav_ul">
                    <li>Class</li>
                    <li>Class1</li>
                    <li>Class2</li>
                    <li>Class3</li>
                </ul>
            </div>
            <div class="holder">
                <p class="main_nav_buttons">Academics</p>
                <ul class="nav_ul">
                    <li>Code of Conducts</li>
                    <li>Guideline for Parents</li>
                    <li>Dress Code</li>
                    <li>Class Lecture</li>
                    <li>Lesson Plan</li>
                    <li>Academic Calendar</li>
                    <li>Syllabus</li>
                    <li>Class Routine</li>
                    <li>Co-Curriculum Activities</li>
                </ul>
            </div>
            <div class="holder">
                <p class="main_nav_buttons">Admission</p>
                <ul class="nav_ul">
                    <li>Apply</li>
                    <li>Admission Prospectus</li>
                    <li>Fees</li>
                </ul>
            </div>
            <div class="holder">
                <p class="main_nav_buttons">Gallery</p>
                <ul class="nav_ul">
                    <li>gallery</li>
                    <li>gallery1</li>
                    <li>gallery2</li>
                    <li>gallery3</li>
                </ul>
            </div>
            <div class="holder">
                <p class="main_nav_buttons">About Us</p>
                <ul style="margin-right: 0px;" class="nav_ul">
                    <li>About</li>
                    <li>About1</li>
                    <li>About2</li>
                    <li>About3</li>
                </ul>
            </div>
        </div>
            
        </section>
    </header>
