
    <header>
       
        <div id="secondary_nav">
            <div class="header">
                <div class="container"> <b> NEWS : </b>

                  <marquee>
                  My school: How To Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </marquee>
                </div>
              </div>
            <p style="color: aliceblue; margin-bottom: 0;padding: 8px;"><i class="fa fa-envelope"></i> admin@pstu.ac.bd</p>
            <p style="color: aliceblue; margin-bottom: 0;"><i class="fa fa-phone"></i> +8801747697661</p>
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="loginDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Login
                </button>
                <div class="dropdown-menu" aria-labelledby="loginDropdown">
                    <a class="dropdown-item" href="#">Teacher</a>
                    <a class="dropdown-item" href="#">Student</a>
                    <a class="dropdown-item" href="#">Admin</a>
                </div>
            </div>
        </div>
        

        <div id="Logo_Name">
            <img src="images/—Pngtree—school logo design template vector_9104626.png" alt="">
            <h1>School Management System</h1>
        </div>

        <section id="main_nav">

        <div id="main_nav_container">
            <div  class="">
                <p class="main_nav_buttons"><a href="index">Home</a></p>
            </div>
            <div class="holder">
                <p class="main_nav_buttons">About School</p>
                <ul style="margin-right: 0px;" class="nav_ul">
                    <li><a href="history">History</a></li>
                    <li><a href="achievements">Achievements</a></li>
                    <li><a href="events">News & Events</a></li>
                </ul>
            </div>
            <div class="holder">
                <p class="main_nav_buttons">Administration</p>
                <ul class="nav_ul">
                    <li><a href="governingbody">Governing Body</a></li>
                    <li><a href="message">Message Chairman</a></li>
                    <li><a href="message">Message Principle</a></li>
                    <li><a href="facultyStaffInfo">Faculty & Staff Information</a></li>
                </ul>
            </div>
            <div class="holder">
                <p class="main_nav_buttons">Academic</p>
                <ul class="nav_ul">
                    <li><a href="codeofconduct">Code of Conducts</a></li>
                    <li><a href="GuidelineforParents">Guideline for Parents</a></li>
                    <li><a href="">Dress Code</a></li>
                    <li><a href="">Class Lecture</a></li>
                    <li><a href="">Lesson Plan</a></li>
                    <li><a href="library">Library</a></li>
                    <li><a href="">Syllabus</a></li>
                    <li><a href="">Class Routine</a></li>
                    <li><a href="calender">Calender</a></li>
                    <li><a href="">Co-Curriculum Activities</a></li>
                </ul>
            </div>
            <div class="holder">
                <p class="main_nav_buttons">Admission</p>
                <ul class="nav_ul">
                    <li><a href="">Apply</a></li>
                    <li><a href="">Admission Prospectus</a></li>
                    <li><a href="">Fees & Payment</a></li>
                </ul>
            </div>
            
            <div class="holder">
                <p class="main_nav_buttons">Gallery</p>
                <ul class="nav_ul">
                    <li><a href="">Photos</a></li>
                    <li><a href="">Videos</a></li>
                </ul>
            </div>
            <div class="">
                <a class="" href="clubs" style="text-decoration: none;color: black;">
                    <p class="main_nav_buttons">Clubs</p>
                </a>
            </div>
            <div class="">
                <a class="" href="notice" style="text-decoration: none;color: black;">
                    <p class="main_nav_buttons">Notice</p>
                </a>
            </div>
            <div>
                <p class="main_nav_buttons"><a href="contact">Contact</a></p>
            </div>
        </div>
            
        </section>
    </header>
    

