<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <img src="/images/FireShot Capture 007 - KUET - Khulna University of Engineering & Technology - www.kuet.ac.bd.png" alt="">
    </div>
    
</body>
</html>