<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School/College Management system</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>     
    <link rel="stylesheet" href="css/Home.css">
    <link rel="stylesheet" href="css/footer.css">
    <script src="js/Home.js" defer></script>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <div class="row justify-content-center"style="margin-bottom:10rem;margin-top:17rem;">

    <div class="col-lg-8 col-md-12">
        <div class="sec-title mb-50 text-center">
            <h2><strong>Code Of Conduct</strong></h2> <br>
            <hr style="position: absolute; width: 15%; border-bottom: 2px solid #000; top: 70%;left: 42%; transform: translateY(50%);">  
        
        </div>
    </div>
   
    <div class="elementor-widget-container"style="padding:5rem;margin-top:-2rem;margin-left:5rem;">
        <img src="images/coc.png" alt="our_team"style="margin-left:8rem;height: 385px;width:800px;"><br><br>
<p><strong>DISCIPLINE AND BEHAVIOUR</strong></p>
<p>Any act of misconduct, untoward incident or indecent behaviour will lead to Suspension or Expulsion from School, depending on the seriousness and gravity of an offence. If any student is involved in physical violence or using abusive language, he/she will be immediately expelled from school. A student with three suspensions during an Academic year will be expelled from Playpen. Even without a record of three suspensions, a student may be expelled from the school in exceptional circumstances.</p>
<p>A Disciplinary Committee, comprising the Senior Management and Teachers hears, conducts and decides on behavioural issues occurring in school and takes necessary measures accordingly.</p>
<p>Parents must emphasize upon their children the need to observe all School Rules strictly, respect and honour them.</p>
<p>&nbsp;</p><p><strong>PROHIBITED IN SCHOOL:</strong></p><p>Mobile Phones, Toys, Magazines, MP3 Players, iPads, Cameras, CDs or any such gadgets or devices are not allowed on the school premises. If such items are found in a student’s possession during school hours, they will be confiscated and returned at the end of the Academic session.</p><p>&nbsp;</p>
<p><strong>MOBILE PHONES :</strong></p><p>No Students right up to Class XII are allowed to bring mobile phones. If required they can make a call from the School Front Office after informing the respective Class Teacher.</p><p>&nbsp;</p><p><strong>SCHOOL ATTENDANCE AND ABSENCE:</strong></p><p>If a child is absent for three days, he/she must bring an application explaining the reason and duly signed by his/her parent. A Medical Certificate along with a letter from the parent will be required if a child is absent for more than three consecutive days. Parents must inform the School Office in writing for cases of long illness or absence.</p><p>&nbsp;</p><p><strong>SCHOOL SECURITY, TRAFFIC AND PARKING:</strong></p><p>To avoid traffic congestion near /around the school gate. Students&nbsp;should carry/hold on to their bags and not put them in the luggage compartment at the back of the car/vehicle.</p><p>In this way, there is less chance of late arrivals.</p><p>Please advise your drivers to follow the traffic rules set by the school and instruct them not to blow their horns and to also slow down the speed when approaching the school premises.</p><p>&nbsp;</p><p><strong>CHANGE OF ADDRESS/ CONTACT NUMBERS:</strong></p><p>It is essential that Parents keep the Class Teacher and the Office informed of any changes in their address, phone numbers, emails and emergency contact numbers. In case of any changes, Parents must immediately inform the concerned Administrative Personnel through written application or in School Email.</p>						</div>
</div>
  <%- include('includes/footer.ejs') %>  
</body>
</html>