<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School/College Management system</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>     
    <link rel="stylesheet" href="css/Home.css">
    <link rel="stylesheet" href="css/footer.css">
    <script src="js/Home.js" defer></script>
    <script src="js/sideBar.js" defer></script>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <div class="row justify-content-center"style="margin-bottom:10rem;margin-top:17rem;">
    <div class="col-lg-8 col-md-12">
        <div class="sec-title mb-50 text-center">
            <h2><strong>Dress Code</strong></h2> <br>
            <hr style="position: absolute; width: 15%; border-bottom: 2px solid #000; top: 70%;left: 42%; transform: translateY(50%);">  
        
        </div>
    </div>
    <div class="ss"style="display:flex;">
    <div tabindex="0" class="entry-content" style="padding: 40px;text-align: justify;max-width: 700px;">
        <p>The dress code is designed to insure the health and safety of students and to avoid distractions to the educational process, while preserving the basic rights of individuals. Unsafe or inappropriate is defined as anything which could undermine the morale or endanger the physical well-being of a student. It is our belief that good taste and judgment are keys to proper attire and appearance. The dress code puts focus on academics, not fashion and allows students to express themselves through personality and individual achievement.&nbsp; Dressing appropriately creates a sense of school pride and belonging as well as reducing discipline issues and distractions.&nbsp; Student are asked to dress in a manner that demonstrates they have respect for themselves and for others</p> 
        <ul><li>Shorts / skorts may be worn to school if they are no shorter than five (5) inches above the top of the kneecap. No biking shorts, spandex, or tight fitting shorts.</li><li>Jeans with holes are not permitted.</li><li>Skirts or dresses may be worn to school if they are no shorter than three (3) inches above the top of the knee cap (slits or openings in skirts or dresses cannot extend beyond three (3) inches above the top of the kneecaps). IF TIGHTS, JEGGINGS OR LEGGINGS ARE WORN, THEY MUST BE WORN UNDER SHORTS, SKORTS, SKIRTS OR DRESSES THAT MEET DRESS CODE LENGTHS. LEGGINGS WORN UNDER BLOUSES ARE ONLY ACCEPTABLE IF BLOUSES MEET DRESS CODE LENGTH OF SKIRTS/DRESSES.</li><li>K-2 students should wear shorts beneath skirts and dresses.</li><li>Shirts, blouses and/or dresses must be worn at all times and must be long enough in length to cover the stomach and back completely.</li><li>Necklines may not expose cleavage.</li><li>Girls may wear sleeveless tops having a minimum two (2) inch wide shoulder strap.</li><li>Boys are not allowed to wear tank tops.</li><li>Pajamas must not be worn except on designated days.</li><li>Blouses made of sheer fabric may be worn only as an over blouse to tops that meet previously stated guidelines.</li><li>Pants must be worn at the waistline. Low riding, sagging pants are not allowed. If belts are worn they must be buckled.</li><li>Hoods, hats, caps, head stockings, hair rollers, sunglasses, bandanas, combs, wide headbands, and other types of headwear shall not be worn except in designated areas and on designated days.</li><li>Shoes must be worn at all times. Bedroom slippers or shower shoes are not to be worn.&nbsp; All students must wear soft soled athletic shoes in PE classes.&nbsp; Hard soled shoes are not permitted in gymnasiums.&nbsp;</li><li>Clothing or accessories bearing profane, suggestive, offensive, obscene or gang related language, symbols, slogans or advertising alcoholic beverages, tobacco products or unlawfully controlled substances are not permitted.</li><li>Appropriate undergarments must be worn at all times and must not be seen.</li><li>Beach attire is not to be worn at school.</li><li>Wallet chains, dog collars, or other inappropriate chains or accessories will not be allowed on campus.</li><li>Trench coats and other distracting oversized clothing will not be allowed on campus.</li></ul> <p>Exceptions to the dress code shall be permitted when:</p> <ul><li>A student’s parent requests a reasonable accommodation to address the student’s disability.</li><li>The wearing of clothing in compliance with the dress code violates a student’s sincerely held religious beliefs.&nbsp; Such students and the student’s parents shall submit a signed affidavit setting forth the religious issues and the requested exemption to the policy.</li></ul> <p>The school administration is the final authority regarding the appropriateness of dress and grooming. The student code of conduct will be applied to violations of the dress code.</p>
    </div>
    <img src="images/dress2.jpg" alt="" style="height: 600px;width: 400px;margin-top: 4rem;">
    <img src="images/dress1.jpg" alt="" style="height: 600px;width: 400px;margin-top: 2rem;margin-top: 50rem;margin-left: -25rem;">
  </div>
  </div>
  <%- include('includes/footer.ejs') %>
  <%- include('includes/swap.ejs') %>  
</body>
</html>