<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School/College Management system</title>
 
       
    <link rel="stylesheet" href="css/Home.css">
    <link rel="stylesheet" href="css/footer.css">
    <script src="js/Home.js" defer></script>
    <script src="js/sideBar.js" defer></script>
<style>

</style>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <div style="display: flex;margin-bottom:10rem;margin-top:17rem;">
  <div class="news-event1">                                                        
    <div class="news-normal-block">
        <div class="news-img">
            <a href="https://ndc.edu.bd/news/details/75-years-celebration-program">
                <img src="https://ndc.edu.bd/storage/app/uploads/public/64c/f4f/7eb/thumb_789_530_250_0_0_crop.jpg" alt="" style="width: 430px;height: 250px;">
            </a>
        </div>
        <div class="news-date">
            <i class="fas fa-calendar-alt"></i>
            <span>August 6, 2023</span>
        </div>
        <h4 class="news-title"><a href="https://ndc.edu.bd/news/details/75-years-celebration-program">75 Years Celebration Program</a></h4>
        <div class="news-desc">
            <p>
                Click here for Registration.....
            </p>
        </div>
        <div class="news-btn">
            <a href="https://ndc.edu.bd/news/details/75-years-celebration-program">Read More</a>
        </div>
    </div>



</div>





<div class="">
<div class="news-list-block">

                            
    <div class="news-eventall" style="display: flex; align-items: center;">
        <div class="news-img">
            <a href="https://ndc.edu.bd/news/details/distribute-goods-among-flood-victims">
                <img src="https://ndc.edu.bd/storage/app/uploads/public/62c/150/baa/thumb_557_530_398_0_0_crop.jpg" alt="Distribute goods among the flood victims" style="width: 100px; height: 100px;">
            </a>
        </div>
        <div class="news-details" style="margin-left: 10px;">
            <h5 class="news-title"><a href="https://ndc.edu.bd/news/details/distribute-goods-among-flood-victims">Distribute goods among the flood victims</a></h5>
            <i class="fas fa-calendar-alt"></i>
            <span>July 1, 2022</span>
            <p>
                Click here for Registration...
            </p>
        </div>
    </div>
                       
        <div class="news-eventall" style="display: flex; align-items: center;">
            <div class="news-img">
                <a href="https://ndc.edu.bd/news/details/March-26">
                    <img src="https://ndc.edu.bd/storage/app/uploads/public/629/f11/abe/thumb_278_530_398_0_0_crop.jpg" alt="স্বাধীনতা দিবস" style="width: 100px; height: 100px;">
                </a>
            </div>
            <div class="news-details" style="margin-left: 10px;">
                <h5 class="news-title"><a href="https://ndc.edu.bd/news/details/March-26">স্বাধীনতা দিবস</a></h5>
                <i class="fas fa-calendar-alt"></i>
                <span>June 8, 2022</span>
                <p>
                    Click here for Registration...
                </p>
            </div>
        </div>        
                 
        <div class="news-eventall" style="position: absolute; float: left; display: flex; align-items: center;">
            <div class="news-img">
                <a href="https://ndc.edu.bd/news/details/February-21">
                    <img src="https://ndc.edu.bd/storage/app/uploads/public/629/eeb/9f5/thumb_277_530_398_0_0_crop.jpg" alt="শহীদ দিবস" style="width: 100px; height: 100px;">
                </a>
            </div>
            <div class="news-details" style="margin-left: 10px;">
                <h5 class="news-title"><a href="https://ndc.edu.bd/news/details/February-21">শহীদ দিবস</a></h5>
                <i class="fas fa-calendar-alt"></i>
                <span>June 7, 2022</span>
                <p>
                    Click here for Registration...
                </p>
            </div>
        </div>
        
                        
</div>
</div>
  </div>
  <%- include('includes/footer.ejs') %> 
  <%- include('includes/swap.ejs') %> 
</body>
</html>
