<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School/College Management system</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>     
    <link rel="stylesheet" href="css/Home.css">
    <link rel="stylesheet" href="css/footer.css">
    <script src="js/Home.js" defer></script>
<style>

</style>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <div style="display: flex;margin-bottom:10rem;margin-top:17rem;">
  <div class="news-event1">                                                        
    <div class="news-normal-block">
        <div class="news-img">
            <a href="https://ndc.edu.bd/news/details/75-years-celebration-program">
                <img src="https://ndc.edu.bd/storage/app/uploads/public/64c/f4f/7eb/thumb_789_530_250_0_0_crop.jpg" alt="" style="width: 430px;height: 250px;">
            </a>
        </div>
        <div class="news-date">
            <i class="fas fa-calendar-alt"></i>
            <span>August 6, 2023</span>
        </div>
        <h4 class="news-title"><a href="https://ndc.edu.bd/news/details/75-years-celebration-program">75 Years Celebration Program</a></h4>
        <div class="news-desc">
            <p>
                Click here for Registration.....
            </p>
        </div>
        <div class="news-btn">
            <a href="https://ndc.edu.bd/news/details/75-years-celebration-program">Read More</a>
        </div>
    </div>



</div>





<div class="news-eventall">
<div class="news-list-block">

                            
        <div class="news-list-item">
            <div class="news-img">
                <a href="https://ndc.edu.bd/news/details/distribute-goods-among-flood-victims">
                    <img src="https://ndc.edu.bd/storage/app/uploads/public/62c/150/baa/thumb_557_530_398_0_0_crop.jpg" alt="Distribute goods among the flood victims"style="width: 100px;height: 100px;">
                </a>
            </div>                              
            <div class="news-content">
                <h5 class="news-title"><a href="https://ndc.edu.bd/news/details/distribute-goods-among-flood-victims">Distribute goods among the flood victims</a></h5>
                <div class="news-date">
                    <i class="fas fa-calendar-alt"></i>
                    <span>July 1, 2022</span>
                </div>
                <div class="news-desc">
                    <p>
                        Click here for Registration...
                    </p>
                </div>
            </div>                              
        </div>

                            
        <div class="news-list-item">
            <div class="news-img">
                <a href="https://ndc.edu.bd/news/details/March-26">
                    <img src="https://ndc.edu.bd/storage/app/uploads/public/629/f11/abe/thumb_278_530_398_0_0_crop.jpg" alt="স্বাধীনতা দিবস"style="width: 100px;height: 100px;">
                </a>
            </div>                              
            <div class="news-content">
                <h5 class="news-title"><a href="https://ndc.edu.bd/news/details/March-26">স্বাধীনতা দিবস</a></h5>
                <div class="news-date">
                    <i class="fas fa-calendar-alt"></i>
                    <span>June 8, 2022</span>
                </div>
                <div class="news-desc">
                    <p>
                        Click here for Registration...
                    </p>
                </div>
            </div>                              
        </div>

                            
        <div class="news-list-item">
            <div class="news-img">
                <a href="https://ndc.edu.bd/news/details/February-21">
                    <img src="https://ndc.edu.bd/storage/app/uploads/public/629/eeb/9f5/thumb_277_530_398_0_0_crop.jpg" alt="শহীদ দিবস"style="width: 100px;height: 100px;">
                </a>
            </div>                              
            <div class="news-content">
                <h5 class="news-title"><a href="https://ndc.edu.bd/news/details/February-21">শহীদ দিবস</a></h5>
                <div class="news-date">
                    <i class="fas fa-calendar-alt"></i>
                    <span>June 7, 2022</span>
                </div>
                <div class="news-desc">
                    <p>
                        Click here for Registration...
                    </p>
                </div>
            </div>                              
        </div>

                        
</div>
</div>
  </div>
  <%- include('includes/footer.ejs') %>  
</body>
</html>
