<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School/College Management system</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>     
    <link rel="stylesheet" href="css/Home.css">
    <link rel="stylesheet" href="css/routine.css">
    <link rel="stylesheet" href="css/footer.css">
    <script src="js/Home.js" defer></script>
</head>
<body>
  <%- include('includes/header.ejs') %>
    <div class="row justify-content-center" style="margin-bottom:10rem;margin-top:17rem;">
        <div class="container"style="display:flex;margin-left:3rem;">
            <div class="col-md-8">
             <div class="row m"style="width:43rem;margin-left:.5rem;">              
                 <div class="col-xs-12 col-sm-12 box mar-top10 padding10">
                     <div class="col-sm-12"><strong class="head-colo">Class Routine-Nine - Cantonment Public School and College Momenshahi (CPSCM)</strong></div>
                 </div>                   
             </div>
    
        <main class="table">
            <section class="table__body">
                <table>
                    <tbody>
                        <tr>
                            <td> Class nine-ten revised routine 2023 </td>
                            <td> 17 Dec, 2022 </td>
                            <td>
                                <button class="view-button">
                                    <i class="fa fa-eye"></i> View
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Class Routine 2023 </td>
                            <td> 17 Dec, 2022 </td>
                            <td>
                                <button class="view-button">
                                    <i class="fa fa-eye"></i> View
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td> IX-X class routine-2022 (school)</td>
                            <td> 17 Dec, 2022 </td>
                            <td>
                                <button class="view-button">
                                    <i class="fa fa-eye"></i> View
                                </button>
                            </td>
                        </tr>                    <tr>
                            <td> Annual Exam-2021 & Pre-Test (SSC-2022)</td>
                            <td> 17 Dec, 2022 </td>
                            <td>
                                <button class="view-button">
                                    <i class="fa fa-eye"></i> View
                                </button>
                            </td>
                        </tr>                    <tr>
                            <td> SSC 2020 Preparatory extra class & Model test plan </td>
                            <td> 17 Dec, 2022 </td>
                            <td>
                                <button class="view-button">
                                    <i class="fa fa-eye"></i> View
                                </button>
                            </td>
                        </tr>                   
                         <tr>
                            <td> SSC Preparatory Extra Classes & Exam</td>
                            <td> 17 Dec, 2022 </td>
                            <td>
                                <button class="view-button">
                                    <i class="fa fa-eye"></i> View
                                </button>
                            </td>
                        </tr>                    <tr>
                            <td> Class Routine-2019 </td>
                            <td> 17 Dec, 2022 </td>
                            <td>
                                <button class="view-button">
                                    <i class="fa fa-eye"></i> View
                                </button>
                            </td>
                        </tr>                    <tr>
                            <td> CLass wise rutine 2017 VI-X</td>
                            <td> 17 Dec, 2022 </td>
                            <td>
                                <button class="view-button">
                                    <i class="fa fa-eye"></i> View
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    
             
         </div>
        </div>
        <div class="col-md-4" style="margin-left: 48rem;margin-top: -39rem;">            	
    
            <div class="row m"style="width:19rem;margin-left:.4rem;">              
                <div class="col-xs-12 col-sm-12 box mar-top10 related-heading">
                    <i class="fa fa-home" aria-hidden="true"></i> Nine                    </div>                   
            </div>

            <div class="col-xs-12 col-sm-12 box mar-top10">
                <ul class="list-unstyled">
<li class="list-group-item"><a href=""style="color:black;"><i class="fa fa-book"> Nursery</i></a></li>
<li class="list-group-item"><a href=""style="color:black;"><i class="fa fa-book"> KG</i></a></li>
<li class="list-group-item"><a href=""style="color:black;"><i class="fa fa-book"> One</i></a></li>
<li class="list-group-item"><a href=""style="color:black;"><i class="fa fa-book"> Two</i></a></li>
<li class="list-group-item"><a href=""style="color:black;"><i class="fa fa-book"> Three</i></a></li>
<li class="list-group-item"><a href=""style="color:black;"><i class="fa fa-book"> Four</i></a></li>
<li class="list-group-item"><a href=""style="color:black;"><i class="fa fa-book"> Five</i></a></li>
<li class="list-group-item"><a href=""style="color:black;"><i class="fa fa-book"> Six</i></a></li>
<li class="list-group-item"><a href=""style="color:black;"><i class="fa fa-book"> Seven</i></a></li>
<li class="list-group-item"><a href=""style="color:black;"><i class="fa fa-book"> Eight</i></a></li>
<li class="list-group-item"><a href=""style="color:black;"><i class="fa fa-book"> Nine</i></a></li>
<li class="list-group-item"><a href=""style="color:black;"><i class="fa fa-book"> Ten</i></a></li>
<li class="list-group-item"><a href=""style="color:black;"><i class="fa fa-book"> Eleven</i></a></li>
<li class="list-group-item"><a href=""style="color:black;"><i class="fa fa-book"> Twelve</i></a></li>
</ul>                </div>
        </div>
    </div>
  <%- include('includes/footer.ejs') %>  
</body>
</html>