/* Chatbot Container */
#chatbot-container { 
    position: fixed; 
    bottom: 100px; 
    right: 20px; 
    width: 350px;  
    max-width: 100%;  
    height: auto; 
    background-color: #f5f5f5; 
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease;  
    z-index: 999; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

/* Chatbot Header */
#chatbot_head { 
    background-color: #2f7031; 

    color: #fff; 
    padding: 15px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    display: flex; 
    align-items: center; 
} 

#chatbot_head img { 
    height: 30px; 
    margin-right: 15px; 
} 

#chatbot_head p { 
    margin: 0; 
    font-weight: bold; 
    font-size: 16px; 
} 

/* Chatbot Body */
#chatbot_body { 
    height: 300px; 
    background-color: rgb(244, 255, 246); 
    overflow-y: auto; 
    padding: 15px; 
    border-bottom: 1px solid #ccc; 
} 

#chatbot_body p { 
    position: relative; 
    margin: 10px 0; 
    padding: 10px; 
    border-radius: 5px; 
    background-color: #f2f2f2; 
    color: #333; 
    max-width: 70%; 
    line-height: 1.5; 
    word-wrap: break-word; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
} 

/* Chatbot Footer */
#chatbot_footer { 
    padding: 15px; 
    background-color: #1e4f38; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
} 

#chatbot_footer input { 
    width: 70%; 
    padding: 10px; 
    border-radius: 25px; 
    border: 1px solid #2f4d31; 
    outline: none; 
    font-size: 14px; 
    color:  black;
} 

#chatbot_footer button { 
    width: 25%; 
    padding: 10px; 
    border: none; 
    background-color: #4CAF50; 
    color: #fff; 
    border-radius: 25px; 
    cursor: pointer; 
    outline: none; 
    font-size: 14px; 
    margin-left: 5%; 
} 

/* Chatbot Icon */
#chatbot_icon { 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 101;
    background-color: rgb(230, 255, 236);
    border-radius: 50%;
    box-shadow: 0px 5px 15px rgba(25, 52, 9, 0.982); 
    
} 

#chatbot_icon img{ 
    height: 50px;  
    border-radius: 50%; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
    padding: 10px;
    height: 60px;
    width: 60px;

} 

#chatbot_icon img:hover { 
    transform: scale(1.1); 
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); 
} 

/* User Message */
.user-message { 
    text-align: right; 
}
