.box-container1 {
    text-decoration: none;
    margin-left: 1rem;
    width: 13rem;
    height: 20rem;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: 0.3s;
    text-align: center;
}
.box-container1:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
.team-body1 {
    text-align: center;
margin-top: 20px;
margin-left: 15px;
display: inline-block;
}

/*-------------------------notice-----------------*/
#filterTable_length,
#filterTable_filter {
    display: inline-block;
    margin-right: 300px; /* Adjust the margin as needed */
}
.ui-widget-header {
    border: 1px solid #dddddd;
    background: #e9e9e9;
    color: #333333;
    font-weight: bold;
    
}


.sp:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
.sp {
    text-decoration: none;
    margin-left: 3rem;
    width: 20rem;
    height: 20rem;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: 0.3s;
    text-align: center;
}