* {
    padding: 0;
    margin: 0;
}
.holder{
    width: 10rem;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header{
    text-align: center;
}

ul{
    margin-top: 10px;

}
.nav_ul li {
     /* Add !important to ensure the border is applied */
    background-color: rgb(255, 255, 255);
    
    padding: 10.5px;
}
.nav_ul li a{
    text-decoration: none;
    color: black;
}
.main_nav_buttons a{
    text-decoration: none;
    color: black;
}
.main_nav_buttons{
transition: all .3s;
}
.main_nav_buttons:hover{
    color: red;
}
.main_nav_buttons a{
    transition: all .3s;
    }
.main_nav_buttons a:hover{
        color: red;
    }
.dropdown .btn {
    font-size: 14px; 
    padding: 5px 10px; 
}

#main_nav,#secondary_nav,#Logo_Name{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 999; 
}

#secondary_nav{
    background-color: rgb(13, 66, 126);
    align-items: center;
    align-content: center;
    transition: all 0.3s ease;
     
}
.secondary_nav_hidden {
    transform: translateY(-100%);
}

#Logo_Name{
    justify-content: unset;
    background-color: rgba(123, 207, 255,.7);
    padding: 25px;
    margin-top: 50px;
    top: -10px;
    z-index: 1;
    transition: all 0.3s ease;
}

#Logo_Name img{
    margin: -10px 0 0 9rem;
    width: 70px;

}

.nav_ul {
    max-height: 0;
    margin-top: -17px;
    height: auto;
    overflow: hidden;
    cursor: pointer;
    
   box-shadow: 0px 4px 5px -0px rgba(0, 0, 0, 0.7);
    transition: all .3s ease-in-out;
}
.nav_ul li:hover{
    background-color: rgb(234, 45, 45);

}


#main_nav{
    height: 60px;
    background-color: rgba(255, 255, 255,.4);
    margin-top: 150px;
    justify-content: center;
    margin-right: 20px;
    position: fixed;
    z-index: 1;
    transition: all 0.3s ease;
   
}

#main_nav_container{
    width: fit-content;
    display: flex;
    justify-content: space-around;
    box-shadow:0px 3px 3px 3px rgba(27, 25, 25,.3);
}

#main_nav_container p{
    padding:18px 25px;
    background-color: rgb(255, 255, 255);
    
}
.main_nav_buttons{
   cursor: pointer;
   
    background-color: rgb(255, 255, 255);
    margin-top: .5px;
    padding: 10px;
    padding-bottom: 9.5;
}


#Logo_Name.collapsed {
    margin-top: 0px; 
    background-color: rgba(123, 207, 255,1); ;
}

#main_nav.coll {
    margin-top: 100px; 
    
}

/*................................................................................................ */
.carousel-item img{
    width: 100%;
    height: 30%;
    object-fit: cover;
    margin: auto;
    
}
#carouselExampleCaptions{
    margin: auto;
    width: 100%;
    height: 30%;
    top: 0;
    margin-top: -10rem;
    z-index: 0;
}

.carousel-item{
    text-align: center;
}
.carousel-inner {
    height: fit-content; 
}
.carousel-caption {
    bottom: 15%; 
}
#clubs_ul{
    margin-top: 5rem;
}
#clubs_ul li{
    text-align: center;
    transition: all .3s ease-in-out;
}
#clubs_ul li i{
    scale: 4;
 }
 #clubs_ul li a{
    text-decoration: none;
    color: rgb(22, 21, 21);
    
 }
 
 #clubs_ul li:hover{
    transform: translateY(-5px);
 }


.news-container {
    max-width: 800px;
    margin: 0 ;
}

.news-events-section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 30px 20px 20px 20px;
}

.news-events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.news-event {
    width: calc(48% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.news-event:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.date {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    padding: 8px 12px;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
}



.pagination {
    margin-top: 20px;
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    color: #007bff;
    margin: 0 10px;
    font-weight: bold;
}

.prev:hover, .next:hover {
    text-decoration: underline;
}

.notice-container {
    width: 25rem;
    height: 32rem;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 0 0 0;
}

.notice-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

.notice-item {
    width: 25rem;
    line-height: 30px;
    background-color: #e0e8f1;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.notice-item:hover {
    animation-play-state: paused;
}

.notice-item:not(:hover) {
    animation-play-state: running;
}

#hamburgerIcon{
    display: none;
 }

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -100%;
    }
}

/*................................................................................................ */
@media(max-width:788px){
    html{
        zoom: 30%;
    }
    #carouselExampleCaptions img{
   height: 50rem;
    }
    #carouselExampleCaptions{
        height: 50rem;
         }
         
}
@media(max-width:1182px){
#hamburgerIcon{
            display: block;
         }

         #main_nav_container{
            display: none;
            width: 100%;
         }
         .holder{
            width: 100%;
         }
         
#main_nav{
    display: block;
    height: fit-content;
}
#main_nav.collapsed{
    background-color: rgba(255, 255, 255,.4);
}
#main_nav.expanded{
    background-color: rgba(255, 255, 255,1);
}


 #main_nav_container {
    display: block;
    max-height: 0;
    overflow-x: hidden;
    
    
    transition: max-height .5s;
    
    
  }
  
  #main_nav_container.collapsed {
    max-height: 0;
    box-shadow: none;
  }
  
  #main_nav_container.expanded {
    max-height: 750px; 
  }
  .nav_ul li a{
    font-size: 2.5rem;
  }
  .main_nav_buttons{
    font-size: 2.5rem;
    text-align: left;
    margin-left: 3.5rem;
  }
.nav_ul{
    box-shadow: none;
    transition: all 1s ease-in-out;
}
  
  
}
@media(min-width:1183px){
    
    
    #main_nav_container{
       display: flex;
    }
}


.news-event1 {
    text-align: center;
    text-decoration: none;
    margin-left: 5rem;
    width: 30rem;
    height: 30rem;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.news-event1:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
.news-eventall {
    text-decoration: none;
    margin-left: 5rem;
    width: 40rem;
    height: 9rem;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.news-eventall:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
.news-btn a {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007BFF;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
    }
    .news-btn a:hover {
      background-color: #7bcfff; /* Change color on hover */
    }
    .news-title a {
        text-decoration: none;
      }

      .box-container {
        text-decoration: none;
        margin-left: 1rem;
        width: 13rem;
        height: 10rem;
        margin-bottom: 20px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        transition: 0.3s;
    }
    .box-container:hover {
        transform: translateY(-5px);
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    }
    .team-body {
    text-align: center;
    }
    /*-------------Governing Body------------------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}
.wrapper{
  margin-top: 60px;
  text-align: center;
}

.wrapper h1{
  font-size: 48px;
  color: #fff;
  margin-bottom: 25px;
}

.our_team{
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.our_team .team_member{
  width: 250px;
  margin: 5px;
  margin-left: 2rem;
  background: #fff;
  padding: 20px 10px;
}

.our_team .team_member .member_img{
  background: #e9e5fa;  
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.our_team .team_member .member_img img{
  width: 100%;
  height: 100%;
}
.our_team .team_member .member_img{
  background: #e9e5fa;  
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  cursor: pointer;
}
.team_member{
    transition: all .5s;
}
.team_member:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
.our_team .team_member h3{
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 15px 0 0px;
}

.our_team .team_member span{
  font-size: 14px;
}

.our_team .team_member p{
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
}

.our_team .team_member .member_img .social_media{
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0,0,0,0.65);
  width: 95%;
  height: 95%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
   transition: all 0.5s ease;
}

.our_team .team_member .member_img .social_media .item{
  margin: 0 10px;
}

.our_team .team_member .member_img .social_media .fab{
  color: #8c7ae6;
  font-size: 20px;
}

.our_team .team_member .member_img:hover .social_media{
  transform: scale(1);
}
/*---------------End-----------*/
.news-eventall22 {
    text-decoration: none;
    margin-left: 5rem;
    width: 40rem;
    height: 9rem;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.news-eventall22:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}
.header{
    background:#0d427e;
    padding-bottom: 8px;
    width: 30rem;
}
.header b{
    margin-top: -1rem;
    background: #fff;
    color: red;
    padding: 10px;
    font-size: 20px;
}
.header marquee{
position: relative;
top:7px;
    font-size: 20px;
    color: white;
    width: 70%;
}