<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Library</title>
  <link rel="stylesheet" href="css/librarystudent.css">
</head>
<body>
  <h1>Student Library</h1>
  <section class="search-bar">
    <label for="search-field">Search Books:</label>
    <input type="text" id="search-field" placeholder="Title, Author, Subject">
    <button id="search-btn">Search</button>
  </section>
  <section id="book-results">
    <h2>Find Your Next Adventure!</h2>
    <ul class="book-list"></ul>
  </section>
  <script src="script.js"></script>
</body>
</html>