<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class 1 Course Overview</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
        }

        section {
            margin: 20px;
        }

        h2 {
            color: #333;
        }

        .course-details {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 8px;
            width: 70%;
            margin: 20px auto;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
    <script src="routes/student.js" defer></script>
</head>
<body>

    <header>
        <h1>Class  <%= userClass.data[0][0] %> Course Overview</h1>
    </header>

    <section>
        <div class="course-details">

            <h2>Introduction to Class <%= userClass.data[0][0] %></h2>
            <% if (db_stat1) { %>
                <p><br>
                    </p>
                    
                    <%= gline[0] %>

            </div>
            <% } else{ %>
                <br><br>
        <h3>Database is Offline.</h3>
        
                <% } %>
            
        </div>
    </section>
</body>
</html>